.trainBox {
    font-family: SF Pro Display;
    width: 100%;
    height: 1000px;
    background: linear-gradient(to right, #dce35b, #45b649);
    
    &__wrapper {
        width: 90%;
        max-width: 680px;
        height: 895px;
        margin: 0 auto;
        padding: 65px 40px 40px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.15);
    }
}

.login {
    padding: 27px 0 25px;
    text-align: right;
    
    & a {
        color: #fffc00;
        stroke: #fffc00;
        transition: all 0.5s ease;

        &:hover {
            color: #DCE35B;
            stroke: #DCE35B;
        }

        & svg {
            width: 18px;
            height: 18px;
            margin: 0 31px 0 15px;
        }
    }
}