.countFavor {
    @media all and (max-width: 767px) {
        text-align: center;
    }
}

.direct {
    max-height: 470px;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar { 
        width: 3px;
    }

    &::-webkit-scrollbar-track-piece { 
        background: #E7E7E7;
        border-radius: 23px;
    }

    &::-webkit-scrollbar-thumb { 
        background-color: #1157A7;
        height: 10px;
        border-radius: 23px;
    }

    @media all and (max-width: 580px) {
        height: 55%;
    }

    &__item {
        margin: 10px 11px 0 0;
        cursor: pointer;

        &:hover .direct__price {
            color: #000000;
            font-weight: 500;
        }

        @media all and (max-width: 767px) {
            text-align: center;
        }

        &:after {
            content: '';
            display: block;
            width: 100%;
            max-width: 600px;
            height: 1px;
            background: rgba(135, 135, 135, 0.2);
            border-radius: 8px;
            margin-top: 22px;
        }
    }

    &__img {
        @media all and (max-width: 767px) {
            margin-bottom: 15px;
        }

        & img {
            border-radius: 50px;
            width: 75px;
            height: 70px;
        }
    }

    &__information {
        padding: 0;
        font-size: 15px;
        color: #878787;
    }

    &__departures {
        color: #424242;
        font-size: 16px;

        & span {
            @media all and (max-width: 580px) {
                white-space: pre;
            }
        }

        & svg {
            width: 14px;
            height: 10px;
            margin: 0 12px;
        }
    }

    &__date {
        align-items: center;
        display: flex;

        @media all and (max-width: 767px) {
            margin-top: 10px;
            justify-content: center;
        }

        & span {
            width: 9px;
            height: 1px;
            margin: 0 10px;
            background: #C4C4C4;
            border-radius: 2px;
        }
    }

    &__company {
        display: flex;

        @media all and (max-width: 767px) {
            margin-top: 10px;
            justify-content: center;
        }
    }

    &__logo {
        width: 55px;
        height: auto;
        margin-left: 10px;
    }

    &__other {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @media all and (max-width: 767px) {
            margin-top: 10px;
            align-items: center;
        }
    }

    &__heart {
        fill: none;
        width: 23px;
        height: 20px;
        margin-top: 5px;
        stroke: #878787; 
        cursor: pointer;

        &:active {
            transform: scale(0.95);
        }
        
        &-hidden {
            opacity: 0;
            transition: all 0.5s ease;

            &:hover {
                opacity: 1;
                fill: #F04393;
                stroke: #F04393;
        }
        }

        @media all and (max-width: 767px) {
            order: 1;
            margin-top: 10px; 
        }
    }

    &__price {
        margin-top: 19px;

        @media all and (max-width: 767px) {
            margin-top: 0;
        }

        & span {
            font-weight: 400;
            font-size: 11px;
            margin-right: 8px;
            color: #878787;
        }
    }
} // .direct

.fill {
    opacity: 1;
    fill: #F04393;
    stroke: #F04393;
}